libexec/gfr/fastaBlast.py
libexec/sisrs/shuffleSequences_fasta.pl
libexec/sisrs/shuffleSequences_fastq.pl
libexec/sisrs/sub_sample_for_velvet.py
libexec/sisrs/sub_sample_for_velvet_forsinglened.py
libexec/sisrs/sub_sample_to_reduce_cov.py

build
dist
.cache
sisrs.egg-info
*.swp
*.pyc
